*{
    margin: 0;
    padding: 0;
}
body {
    /* background-color: #222; */
    color: #fff;
    font-family: cursive;
}
/* Start Header */
.cruds {
    width: 80%;
    margin: auto;
}
.head {
    text-align: center;
    margin: 10px 0;
}
/* End Header */

/* Start Inputs */
input{
    width: 100%;
    height: 30px;
    /* outline: none; */
    border: none;
    background-color: hsl(0, 0%, 93%);
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #111;
}
input:focus {
   background-color: hsl(0, 0%, 82%);
    
}
.price input {
    width: 20%;
}
#total {
    background-color: #f10;
    padding: 5px 2px;
    border-radius: 4px;
    margin-left: 10px;
}
#total::before {
    content: 'Total: ';
}
button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color:#157ee1 ;
    border-radius: 20px;
    color: #fff;
    transition: .5s;
}
button:hover{
    background-color:#3a9dfa ;
    letter-spacing: 2px;
}
/* End Inputs */

/* Start Outputs  */
.outputs .btnSearch{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.outputs .btnSearch button {
    width: 45%;
}
#delete_all {
    margin: 5px 0;
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #000;
}
table th {
    text-transform: uppercase;
}
th,td {
    padding: 5px;
    border-bottom: 1px solid  hsl(0, 0%, 82%);
}